<%= form_with model: @brand do |form| %>
  <div class="container" style="display: flex; justify-content: center">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12">
          <%= form.label :title, {:class=>'label'} %><br>
          <%= form.text_field :title, {:class=>'form-control'} %>
          <% @brand.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
            <% end %>
          </div>

          <div>
        <br/>
        <%= form.submit 'Save', :class => 'btn btn-success col-md-12' %>
        </div>
      </div>
    </div>
  </div>
<% end %>