<h1 class="text-center">Products </h1>

<div class="container">
<a href="products/new" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> New Product</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Brand</th>
        <th scope="col">Type</th>
        <th scope="col">Created At</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= product.id %></th>
        <td> <%= link_to product.title, product %></td>
        <td><span class="badge bg-secondary"> <%= product.brand.title %></span></td>
        <td><span class="badge bg-dark"> <%= product.type.name %></span></td>
        <td> <%= product.created_at %></td>
        <td scope="col">
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_product_path(product), {:class=>'btn btn-warning'} %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, product_path(product),
                        method: :delete,
                        data: { confirm: "Are you sure?" }, class:'btn btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>



